body {
  background-color: #f0fff0;
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-container h1 {
  color: #2d7a2d;
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #2d7a2d;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #256625;
}

.link-text {
  margin-top: 15px;
  text-align: center;
}
